import { IconBaseProps } from './index';
const Logo = ({ color = '#D3F85A', size = 30, ...reset }: IconBaseProps) => (
  <svg
    width={size}
    height={size}
    viewBox={`0 0 ${size} ${size}`}
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    {...reset}
  >
  </svg>
);

export default Logo;
