@import './reset.css';
@import './tailwind.css';
@import 'nprogress/nprogress.css';

@import url('https://fonts.google.com/specimen/Inter?query=Inter');

/* 自定义全局 CssVar */
:root {
  --pure-transition-duration: 0.016s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.line-clamp-multi {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

html,
body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  max-width: 100vw;
  overflow-x: hidden;
}
